<a href="https://colab.research.google.com/github/19pa1a0458/VENKATA-PAVAN/blob/master/Pavan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
  a=276
  b=145
  if a>b:
    print(a,"is Greatest")
  elif b>a:
    print(b,"is Greatest")
  else:
    print("a is equal to b")

276 is Greatest

In [8]:
n=int(input())
for i in range(n):
  if (i%2==0):
    print(i)

20
0
2
4
6
8
10
12
14
16
18

In [7]:
n=int(input())
for i in range(n):
  if (i%2!=0):
    print(i)

20
1
3
5
7
9
11
13
15
17
19